@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/wall-paper-14.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Pirata One";
}

#counterFlag {
  color: #fff;
  position: absolute;
  z-index: 1;
  padding-bottom: 50px;
  font-size: 2.3rem;
  font-style: italic;
}

#playAgain {
  visibility: hidden;
}
#costumNr {
  visibility: hidden;
}

#img-wrapper {
  position: relative;
  width: 100vw;
  height: 30vh;
}

#treasureOpened {
  width: 17%;
  position: absolute;
  top: 90%;
  left: 37%;
}

#treasureClosed {
  width: 22%;
  position: absolute;
  top: 90%;
  left: 35%;
}
#flag-container {
  width: 23%;
  position: absolute;
  right: 20%;
  top: 70%;
  display: grid;
  place-items: center;
  visibility: hidde;
}

#barrel-container {
  width: 28%;
  position: absolute;
  right: 10%;
  z-index: 3;
  top: 60%;
  display: grid;
  place-items: center;
}
#barrel-input p {
  color: #fff;
  position: absolut;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 600;
  width: 70%;
  padding: 30px 0 15px 0;
  line-height: 25px;
}

#barrel-input {
  position: absolute;
  top: 100%;
  z-index: 3;
  right: 10%;
  width: 20%;
}

#raound4-wrapper,
#raound5-wrapper,
#raound6-wrapper {
  font-size: 1.2rem;
  color: #fff;
}
#raoundCostum-wrapper {
  color: #fff;
}
#costumNr {
  width: 15%;
  height: 50px;
  display: inline-block;
}

#costumNr [type="number"] {
  width: 50px;
  font-size: 1.4rem;
}
#skull-container {
  width: 13%;
  position: absolute;
  top: 140%;
  display: grid;
  place-items: center;
}

#reset {
  position: absolute;
  top: 18%;
  font-size: 1.4rem;
  border: none;
  background: none;
  font-weight: 800;
  color: rgb(53, 48, 48);
  letter-spacing: 5px;
}

#ship {
  transform: scaleX(-1);
}

#ship-container {
  width: 23%;
  position: absolute;

  top: 25%;
  -webkit-animation-name: shipMove;
  animation-name: shipMove;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

img {
  width: 100%;
}

#textBox {
  position: absolute;
}

@-webkit-keyframes shipMove {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(10vw);
  }
  30% {
    transform: translateX(30vw);
  }

  45% {
    transform: translateX(45vw);
  }

  50% {
    transform: translateX(60vw) scaleX(-1);
  }

  60% {
    transform: translateX(50vw) scaleX(-1);
  }
  75% {
    transform: translateX(35vw);
  }

  85% {
    transform: translateX(15vw);
  }

  100% {
    transform: translateX(0vw) scaleX(-1);
  }
}

@keyframes shipMove {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(10vw);
  }
  30% {
    transform: translateX(30vw);
  }

  45% {
    transform: translateX(45vw);
  }

  50% {
    transform: translateX(60vw) scaleX(-1);
  }

  60% {
    transform: translateX(50vw) scaleX(-1);
  }
  75% {
    transform: translateX(35vw);
  }

  85% {
    transform: translateX(15vw);
  }

  100% {
    transform: translateX(0vw) scaleX(-1);
  }
}
