* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/wall-paper-14.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#playAgain {
  visibility: hidden;
}
#costumNr {
  visibility: hidden;
}

#img-wrapper {
  position: relative;
  width: 100vw;
  height: 30vh;
}

.img-container {
  width: 17%;
  position: absolute;
  top: 90%;
  left: 37%;
}
#flag-container {
  width: 23%;
  position: absolute;
  right: 20%;
  top: 70%;
}

#ship-container {
  width: 23%;
  position: absolute;

  top: 25%;
  -webkit-animation-name: shipMove;
  animation-name: shipMove;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

img {
  width: 100%;
}

#textBox {
  position: absolute;
}

@-webkit-keyframes shipMove {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(400px);
  }
}

@keyframes shipMove {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(400px);
  }
}
