@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/wall-paper-14.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Pirata One";
}

#counterFlag {
  color: #fff;
  position: absolute;
  z-index: 1;
  padding-bottom: 50px;
  font-size: 2.3rem;
  font-style: italic;
}

#guess-flag {
  position: relative;
  transform: translateY(150px);
  width: 30%;
  height: 30px;
  background: rgb(95, 93, 93);
  color: #fff;
  z-index: 4;
  font-weight: 600;
  border-radius: 15px;
}

#flagtxt {
  transform: translateY(80px);
  color: #fff;
  font-family: "Roboto";
}

#playAgain {
  visibility: hidden;
  transform: translateY(-80px);
  width: 30%;
  height: 30px;
  background: rgb(95, 93, 93);
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
}
#costumNr {
  visibility: hidden;
}

#img-wrapper {
  position: relative;
  width: 100vw;
  height: 30vh;
}

#treasureOpened {
  width: 17%;
  position: absolute;
  top: 130%;
  left: 37%;
}

#treasureClosed {
  width: 22%;
  position: absolute;
  top: 130%;
  left: 35%;
}
#flag-container {
  width: 23%;
  position: absolute;
  right: 20%;
  top: 105%;
  display: grid;
  place-items: center;
  opacity: 0;
}

#barrel-container {
  width: 28%;
  position: absolute;
  right: 20%;
  z-index: 3;
  top: 130%;
  display: grid;
  place-items: center;
}
#barrel-input p {
  color: #fff;
  position: absolut;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 600;
  width: 70%;
  padding: 30px 0 15px 0;
  line-height: 25px;
}

#barrel-input {
  position: absolute;
  top: 160%;
  z-index: 3;
  right: 20%;
  width: 20%;
}

.animation {
  -webkit-animation-name: barrelMove;
  animation-name: barrelMove;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#raound4-wrapper,
#raound5-wrapper,
#raound6-wrapper {
  font-size: 1.2rem;
  color: #fff;
}
#raoundCostum-wrapper {
  color: #fff;
}
#costumNr {
  width: 15%;
  height: 30px;
  display: inline-block;
}

#guessedNumber {
  width: 15%;
  height: 50px;
}

#costumNr [type="number"] {
  width: 50px;
  font-size: 1.4rem;
}
#skull-container {
  width: 13%;
  position: absolute;
  top: 250%;
  display: grid;
  place-items: center;
}

#reset {
  position: absolute;
  top: 18%;
  font-size: 1.4rem;
  border: none;
  background: none;
  font-weight: 800;
  color: rgb(53, 48, 48);
  letter-spacing: 5px;
}

#btn {
  width: 30%;
  height: 30px;
  background: rgb(95, 93, 93);
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
}

#ship {
  transform: scaleX(-1);
}

#ship-container {
  width: 23%;
  position: absolute;

  top: 95%;
  -webkit-animation-name: shipMove;
  animation-name: shipMove;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

img {
  width: 100%;
}

#textBox {
  position: absolute;
}
.visible {
  visibility: visible;
}
/*============================================*/

@-webkit-keyframes shipMove {
  0% {
    transform: translateX(100px) rotate(0);
  }
  30% {
    transform: translateX(400px) rotate(0);
  }
  50% {
    transform: translateX(400px) rotateY(180deg);
  }
  80% {
    transform: translateX(100px) rotateY(180deg);
  }
  100% {
    transform: translateX(100px) rotateY(360deg);
  }
}

@keyframes shipMove {
  0% {
    transform: translateX(-10vw) rotateY(0);
  }
  30% {
    transform: translateX(50vw) rotateY(0);
  }
  50% {
    transform: translateX(50vw) rotateY(180deg);
  }
  80% {
    transform: translateX(-10vw) rotateY(180deg);
  }
  100% {
    transform: translateX(-10vw) rotateY(360deg);
  }
}

/*=====================================*/
@-webkit-keyframes barrelMove {
  0% {
    transform: translateX(0px) rotateZ(0deg);
  }

  70% {
    transform: translateX(70vw) rotateZ(360deg);
  }

  100% {
    transform: translateX(100vw) rotateZ(360deg);
  }
}
@keyframes barrelMove {
  0% {
    transform: translateX(0px) rotateZ(0deg);
  }

  70% {
    transform: translateX(70vw) rotateZ(360deg);
  }

  100% {
    transform: translateX(100vw) rotateZ(360deg);
  }
}
